html {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
padding-bottom: 35px;
}

#p2 {
    padding-top: 55px;
}

h3 {
    background-image: linear-gradient(to right, rgb(19, 18, 18), green,rgb(255, 85, 0));
    border-radius: 35px; /*shorthand syntax*/
    padding: 20px;
}

#redemption {
    padding-top: 45px;
    color: red;
}

/* together, were gonna understand how to manipulate B-R, then well have fun playing around 
with it!*/ 

.sluggyBoi img {
    /*1 starts at corner, gets to 5 rem on right, rounds off same thing on the bottom half (10r)*/
    border-top-left-radius: 5rem 10rem;

    /*2 borders move clockwise...*/
   /* border-radius: 1rem 2rem 3rem 4rem / 4rem 3rem 2rem 1rem; */
    /*2pt2 border-top-left-radius: 1rem/4rem;*/
    
    /* p3 border-radius: 90% 10% 45% 55% / 30% 24% 76% 70%;
    transition: border-radius 500ms ease-in-out; */
}

/* p3 2.sluggyBoi img:hover {
    border-radius: 44% 56% 83% 17% / 45% 72% 28% 55% ;
} */